GITHUB_TOKEN = 
SNOWFLAKE_USER = 
SNOWFLAKE_PASSWORD = 
SNOWFLAKE_ACCOUNT = 
SNOWFLAKE_WAREHOUSE = 
SNOWFLAKE_DATABASE = 
SNOWFLAKE_SCHEMA = 
FORCE_START_DATE = #since when do you want to retrieve data from github? format: YYYY-MM-DD
OPENAI_API_KEY = 
# you will have to create user and role for the chatbot with read only access to the necessary tables for security reasons
SNOWFLAKE_CHATBOT_USER =
SNOWFLAKE_CHATBOT_PASSWORD = 
SNOWFLAKE_CHATBOT_ROLE = 
SNOWFLAKE_CHATBOT_SCHEMA = 
